*{
    margin: 0;
    padding:0;
    box-sizing: border-box; /*define que a largura não deve somar a borda e o padding, mas sim aplicar os valores dentro da largura.*/
    /* font-family: "Bebas Neue", sans-serif; */
    font-family: "Press Start 2P", cursive;
}